.carousel-img {
  height: 300px;
  object-fit: cover;
}
.custom-navbar{
    background-color: #a6d4f2;
}
.logo-navbar {
  height: 40px;
  object-fit: contain;
}

@media (min-width: 768px) {
  .carousel-img {
    height: 350px;
  }
}
