<div class="merch-container">
  <div class="producto" *ngFor="let merch of merch">
    <img [src]="merch.imagen" [alt]="merch.nombre" class="img-fluid" />
    <h3>{{ merch.nombre }}</h3>
    <p>${{ merch.precio }}</p>

    <div class="d-flex align-items-center gap-2 my-2 justify-content-center">
      <button class="btn btn-dark py-1 px-2" (click)="disminuirCantidad(merch)">
        -
      </button>
      <span class="fs-5">{{ merch.cantidad }}</span>
      <button class="btn btn-dark py-1 px-2" (click)="aumentarCantidad(merch)">
        +
      </button>
    </div>

    <!-- Si hay stock, muestra el botón -->
    <button
      *ngIf="merch.stock > 0"
      class="btn btn-dark"
      (click)="agregarAlcarrito(merch)"
    >
      Agregar al carrito
    </button>

    <!-- Si no hay stock, muestra un mensaje -->
    <span *ngIf="merch.stock === 0" class="text-danger fw-bold">
      Sin stock
    </span>
  </div>
</div>
