<div class="merch-container">
  <div class="producto" *ngFor="let merch of merch">
    <a [routerLink]="['/Merch', merch.id]">
      <img [src]="merch.imagen" [alt]="merch.nombre" class="img-fluid" />
    </a>
    <h3>{{ merch.nombre }}</h3>
    <p>${{ merch.precio }}</p>

    <app-input-numero [producto]="merch"></app-input-numero>

    <!-- Si hay stock, muestra el botón -->
    <button
      *ngIf="merch.stock > 0"
      class="btn btn-dark"
      (click)="agregarAlcarrito(merch)"
    >
      Agregar al carrito
    </button>

    <!-- Si no hay stock, muestra un mensaje -->
    <span *ngIf="merch.stock === 0" class="text-danger fw-bold">
      Sin stock
    </span>
  </div>
</div>
