.carousel-img {
  height: 300px;
  object-fit: cover;
}
.producto-img {
  width: 100%;
  aspect-ratio: 1 / 1; /* Cuadrado perfecto */
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: transform 0.3s ease;
}

.card:hover .producto-img {
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .carousel-img {
    height: 350px;
  }
}
